apiVersion: v1
kind: ConfigMap
metadata:
  name: site-config
data:
  site: {{ site | to_json }}
  namespace: {{ namespace | to_json }}
  host: {{ host | to_json }}
  webrootPath: {{ webroot_path | to_json }}
  TELEMETRY_ENABLED: {{ ("enabled" if telemetry_enabled | lower == "true" else "disabled") | to_json }}
  TELEMETRY_APP_NAME: {{ (telemetry_app_name or (site | replace('-dev', ''))) | to_json }}
  TELEMETRY_ENVIRONMENT: {{ telemetry_environment | to_json }}
  TELEMETRY_VERSION: {{ telemetry_version | to_json }}
