apiVersion: v1
kind: ConfigMap
metadata:
  name: site-config
data:
  site: {{ site | to_json }}
  namespace: {{ namespace | to_json }}
  host: {{ host | to_json }}
  webrootPath: {{ webroot_path | to_json }}
